
/*bar*/ /*color*/
#bar {
    background-color:#2F2FA2;
}

/*タイトル
.mdl-layout-title {
    
}
    */

/*all icon*/ /*icon color*/
.material-icons{
    margin:8px;
    color:#F64C72;
}

/*main icon2*/ /*color*/
#main-icon {
    position:absolute;
    left:45%;
    padding-bottom:15px;
    font-size:50px;
    color:#F64C72;
}


/*textfield*/ /*secondary color[border] or color[background] */
.mdl-textfield__input {
    border-bottom: 2px solid #2F2FA2;
    box-sizing:border-box;
    border-radius:21px;
    background-color:#2F2FA2;
}

/*Search label*/ /*color*/
.mdl-textfield__label {
    text-align:left;
    margin-left:5px;
    color:#F64C72;
}

/*クリック後ラベル*/
.mdl-textfield__label:after{
    border-radius:21px;
    height:0;
    bottom:20px;
}

/*クリック後のsearchlabel*/ /*secondary color*/
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color:#F64C72;
}

/*文字入力時のcursor*/
.mdl-layout__header{
    color:#F5F5F5;
}

/*文字入力後のsearchlabel*/
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
    color:#FFFFFF;
}

/*tab*/ /*color*/
.mdl-layout__tab-bar{
    background-color:#2F2FA2;
}

/*tab text*/ /*color*/
.mdl-layout__tab-bar a{
    color:#0F1626;
}

/*tabtext active*/ /*color*/
.mdl-layout.is-upgraded .mdl-layout__tab.is-active{
    color:#F5F5F5;
}

/*tab accent*/ /*secondary color*/
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    background-color:#0F1626;
}

/*main*/
.mdl-layout__content {
    background-color:#2F2FA2;
}
