
/*bar*/
#bar {
    background-color:#FFFFFF;
}

/*タイトル*/
.mdl-layout-title {
    color:black;
}

/*アイコンサイズ*/
.material-icons{
    margin:8px;
    color:black;
}

/*main icon*/
.mdl-layout__header-row img{
    position:absolute;
    left:50%;
}

/*textfield*/
.mdl-textfield__input {
    border-bottom: 2px solid #D50000;
    box-sizing:border-box;
    border-radius:21px;
    background-color:black;
}

/*Search*/
.mdl-textfield__label {
    text-align:left;
    margin-left:5px;
    color:white;
}

/*クリック後ラベル*/
.mdl-textfield__label:after{
    border-radius:21px;
    height:0;
    bottom:20px;
}

/*クリック後の文字*/
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color:#D50000;
}

/*tab*/
.mdl-layout__tab-bar{
    background-color:black;
}

/*tab accent*/
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    background-color:#D50000;
}