
/*bar*/ /*color*/
#bar {
    background-color:#daad86;
}

/*タイトル
.mdl-layout-title {

}
    */

/*all icon*/ /*icon color*/
.material-icons{
    margin:8px;
    color:#22264b;
}

/*main icon1*/ 
.mdl-layout__header-row img{
    position:absolute;
    /*アイコン色を変えるなら画像変更する*/
}

/*main icon2*/ /*color*/
#main-icon {
    position:absolute;
    left:45%;
    padding-bottom:15px;
    font-size:50px;
    color:#312c32;
}

/*textfield*/ /*secondary color[border] or color[background] */
.mdl-textfield__input {
    border-bottom: 2px solid #98dafc;
    box-sizing:border-box;
    border-radius:21px;
    background-color:#312c32;
}

/*Search label*/ /*color*/
.mdl-textfield__label {
    text-align:left;
    margin-left:5px;
    color:#e8edf3;
}

/*クリック後ラベル*/
.mdl-textfield__label:after{
    border-radius:21px;
    height:0;
    bottom:20px;
}

/*クリック後の文字*/ /*secondary color*/
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color:#98dafc;
}

/*tab*/ /*color*/
.mdl-layout__tab-bar{
    background-color:#312c32;
}

/*tab accent*/ /*secondary color*/
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    background-color:#98dafc;
}

/*main*/
.mdl-layout__content {
    background-color:#daad86;
}